@font-face {
  font-family: "GoogleSansMedium";
  src: local("Google Sans"), local("Roboto"),
    url("./../../assets/fonts/GoogleSansMedium.woff2") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GoogleSansBold";
  src: local("Google Sans"), local("Roboto"),
    url("./../../assets/fonts/GoogleSansBold.woff2") format("truetype");
  font-style: normal;
  font-weight: 600;
}
