@import "base/reset.css";
@import "base/vars.css";
@import "base/global.css";

@import "partials/header.css";
@import "partials/footer.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
