<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="dns-prefetch" href="https://unpkg.com/htmx.org@1.9.10" />
    <script
      defer
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/_main.css" />
  </head>
  <body>
    <!-- include HEADER -->
    <div hx-get="html/header.html" hx-trigger="load"></div>
    <!-- content START -->
    <main>
      <section class="container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
          mollitia unde autem, modi veritatis aliquid quam pariatur sit
          consectetur sapiente! Voluptates minus mollitia earum maxime
          aspernatur animi laudantium accusantium iste. Nesciunt illum quae
          labore placeat quaerat rerum natus hic pariatur eligendi magnam a
          autem omnis explicabo, eos odit aperiam! Consequuntur quasi maiores
          accusantium inventore, unde odio cumque ipsam porro ipsum! Aut
          suscipit consequuntur delectus velit vero nesciunt repellat hic earum
          temporibus quaerat nisi debitis accusamus, error dolorem nemo neque
          nihil eligendi dignissimos architecto nulla. Architecto dolorum
          quibusdam magni perspiciatis sint!
        </p>
        <p>
          Aliquam modi repellendus tempore illo consequatur atque quasi
          corrupti, eveniet delectus perspiciatis exercitationem ratione, autem
          quibusdam et, placeat soluta sunt aperiam! Ullam porro est molestias
          dolorem accusantium iure, doloremque perspiciatis. Ratione laudantium
          nesciunt a voluptatem, pariatur dolor recusandae in reprehenderit,
          perferendis eius placeat. Labore minus temporibus repellat
          consequuntur repudiandae, quas explicabo quia, hic, nisi quis enim
          nesciunt laborum impedit maiores. Nulla iusto exercitationem, modi id
          delectus distinctio culpa fugit voluptatum nihil quis reiciendis totam
          debitis assumenda ratione quasi.
        </p>
      </section>
    </main>
    <!-- content END -->
    <!-- include FOOTER -->
    <div hx-get="html/footer.html" hx-trigger="load"></div>
    <script type="module" src="./js/index.js"></script>
  </body>
</html>
